<!DOCTYPE html>
<html>
<head>
    <title>Database loader</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<div class="container">

    <div class="form-group">
        <h2>Enter Deezer album id to load</h2>
        <p id="album_error"></p>
        <input type="text" id="album_id" class="form-control">
        <button id="album_btn" type="button" class="btn btn-primary">Submit</button>
    </div>
  <!--  <div class="form-group">
        <h2>Enter Deezer song id to load</h2>
        <p id="song_error"></p>
        <input type="text" id="song_id" class="form-control">
        <button id="song_btn" type="button" class="btn btn-primary">Submit</button>
    </div>-->
</div>
<script src="/assets/jquery/jquery.min.js"></script>
<script type="module" src="assets/js/app.js"></script>
</body>
</html>